<div id="editor">
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words. The default text editor on macOS and
    Linux is usually set to Vim, which is not famous for being
    intuitive. If you accidentally find yourself stuck in it, hit
    the <kbd>Esc</kbd> key, followed by <kbd>:</kbd>+<kbd>Q</kbd>+<kbd>!</kbd>
    (colon, lower-case 'q', exclamation mark), then hitting <kbd>Return</kbd> to
    return to the shell.
  </p>

  If you are using windows, please intall notepad++ (https://notepad-plus-plus.org/downloads/v8.2.1/). The notepad version that comes with windows will be sufficient as well.
  For Mac and Linux users, you could also use notepad++, or work with the editor nano that comes packaged with your respective OS.  
</div>
