<div id="editor">
  <h3>Visual Studio Code</h3>

  <p>
    Available for Windows, Mac and Linux, VSCode is a powerful code editor. It has built-in support for Git. We will use VSCode, which can be downloaded for free (from https://code.visualstudio.com), for our Version control with Git session. 
    For this session along with VSCode, you will also need a Github account. This can be made for free (here http://github.com), and is highly recommended to save time on the day of the workshop.
  </p> 
</div>
